doctype html
html(ng-app="todoApp")
  head
    title= title
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/checkbox.css')
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script( src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.js")
    script(src="/javascripts/todo.js")
  body(ng-controller="TodoListController as todoList")
    
    block navbar
    
    block content

    block todo
    
    block foot